USE [master]
GO
/****** Object:  Database [MyTestDB2]    Script Date: 8/12/2024 5:23:09 PM ******/
CREATE DATABASE [MyTestDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyTestDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\MyTestDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyTestDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\MyTestDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyTestDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyTestDB2]
GO
/****** Object:  Table [dbo].[UserTab]    Script Date: 8/12/2024 5:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTab](
	[Id] [int] NULL,
	[Name] [nchar](100) NULL,
	[Age] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
